### Base

In [56]:
def fact(n):
    '''
    Returns factorial of n (n!).
    '''
    # BASE CASE!
    if n == 0:
        return 1
    
    # Recursion!
    else:
        return n * fact(n-1)

In [57]:
fact(5)

120

### Memoization

In [58]:
# Create cache for known results
factorial_memo = {}

def factorial(k):
    
    if k < 2: 
        return 1
    
    if not k in factorial_memo:
        factorial_memo[k] = k * factorial(k-1)
        
    return factorial_memo[k]

In [59]:
factorial(4)

24

In [60]:
factorial_memo

{2: 2, 3: 6, 4: 24}

In [61]:
class Memoize:
    def __init__(self, f):
        self.f = f
        self.memo = {}
    def __call__(self, *args):
        if not args in self.memo:
            self.memo[args] = self.f(*args)
        return self.memo[args]
    def factorial(self):

      if self.f < 2: 
          return 1

      return self.f * factorial(self.f - 1)

In [62]:
m1 = Memoize(4)
m1.factorial()

24

1. Recursive function which takes an integer and computes the cumulative sum of 0 to that integer.
For example, n=4 , returns 10.

In [63]:
def cum_sum(n):
  # Base case
  if n == 1:
    return 1
  else:
    return n + cum_sum(n-1)

In [64]:
print(cum_sum(4))

10

2. Function which returns the sum of all the individual digits in that integer. For example: if n = 4321, return 4+3+2+1.

In [65]:
def ind_sum(n):
  
  if n<10:
    return n
    
  else:
    x=n%10
    return x + ind_sum(n//10)

In [66]:
ind_sum(4321)

10

3. Function word_split() takes in a string phrase and a set list_of_words. The function will then determine if it is possible to split the string in a way such that all the splitted words are present in the list. If not, return an empty list.

In [67]:
def word_split(phrase,list_of_words, output = None):
    # Checks to see if any output has been initiated.
    # If we default output=[], it would be overwritten for every recursion!
    if output is None:
        output = []
    
    # For every word in list
    for word in list_of_words:
        
        # If the current phrase begins with the word, we have a split point!
        if phrase.startswith(word):
            
            # Add the word to the output
            output.append(word)
            
            # Recursively call the split function on the remaining portion of the phrase--- phrase[len(word):]
            # Remember to pass along the output and list of words
            return word_split(phrase[len(word):],list_of_words,output)
    
    # Finally return output if no phrase.startswith(word) returns True
    return output

In [68]:
word_split('themanran',['the','ran','man'])

['the', 'man', 'ran']

In [69]:
word_split('ilovedogsJohn',['i','am','a','dogs','lover','love','John'])

['i', 'love', 'dogs', 'John']

In [70]:
word_split('themanran',['clown','ran','man'])

[]